<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myManga.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <myManga.Properties.Settings>
            <setting name="LastWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ChangeLastWindowState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawShadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FadeImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChapterListOrder" serializeAs="String">
                <value>Auto</value>
            </setting>
        </myManga.Properties.Settings>
    </userSettings>
</configuration>